* text=auto eol=lf

*.json         text
*.md           text diff=markdown

.editorconfig  text
.gitattributes text
LICENSE        text

# We add patterns to this file in the same commit as when we first add a
# matching file to the repository, rather than cluttering this list with
# things that we'll never care about.
