* text=auto eol=lf

*.hcl          text
*.json         text
*.lock         text
*.md           text diff=markdown
*.tf           text
*.toml         text
*.yml          text

.editorconfig  text
.gitattributes text
.gitignore     text
LICENSE        text

# We add patterns to this file in the same commit as when we first add a
# matching file to the repository, rather than cluttering this list with
# things that we'll never care about.
